.ncbi/
.snakemake/
rules/
ReproHackathon.wf
Workflow/.ncbi/
Workflow/.snakemake/
Workflow/Genome/
Workflow/GenomeAnnot/
Workflow/Log.out
Workflow/Log.progress.out
Workflow/Log.std.out
Workflow/MappingSTAR/
Workflow/_STARtmp/
Workflow/fastq-dump/
Workflow/images/
Workflow/sample.tsv
configuration.yml
sample.tsv
Tools/.logscript/
Tools/images/
Workflow/IndexGenome/
