.ncbi/
.snakemake/
Workflow/Genome/
Workflow/GenomeAnnot/
Workflow/MappingSTAR/
Workflow/fastq-dump/
Workflow/IndexGenome/
Workflow/fastqc/*.zip
Workflow/images/
Workflow/sample.tsv
Tools/.logscript/
Tools/images/
Workflow/.*
Workflow/Rplots.pdf